


<div class="episodesDiv">

    <div class="seasonSpan bodyPadding">
        <span class="greySpan">Season 1</span>
    </div>


    <div class="episodeDivWrapper bodyPadding">
        <div class="episodeDiv flexBetween ">

            <div class="leftSection flexStart">
                <div class="thumbnail">
        
                    <img src='http://192.168.0.103:1313/client/views/episodeImages/image1.jpg'>
                    
                    <!-- <div class="playRing flexCenter">
                            <i class="fas fa-play"></i>
                        </div> -->
                </div>

                <div class="episodeTitleDiv">
                    <span class="episodeTitle">1. Pilot</span>
                    <br>
                    <span class="greySpan episodeTimingSpan">28m</span>
                </div>

            </div>

            <div class="rightSection">
                <i class="fas fa-download"></i>
            </div>
        </div>

        <div class="episodeDescription">
            <span>After recent trauma, Devi starts her first day as a high school sophomore determined to shake off old labels
                and finally become cool.</span>
        </div>


    </div>


    <div class="episodeDivWrapper bodyPadding">
        <div class="episodeDiv flexBetween ">

            <div class="leftSection flexStart">
                <div class="thumbnail">
                        <img src='http://192.168.0.103:1313/client/views/episodeImages/image2.jpg'>
                    <!-- <div class="playRing flexCenter">
                                <i class="fas fa-play"></i>
                            </div> -->
                </div>

                <div class="episodeTitleDiv">
                    <span class="episodeTitle">2. ... had fun with Paxton Hall-Yoshida</span>
                    <br>
                    <span class="greySpan episodeTimingSpan">29m</span>
                </div>

            </div>

            <div class="rightSection">
                <i class="fas fa-download"></i>
            </div>
        </div>

        <div class="episodeDescription">
            <span>Devi hesitates to tell her friends the truth about her awkward interactions with Paxton. The prospect of an arranged
                marriage puts Kamala under pressure.</span>
        </div>
    </div>


    <div class="episodeDivWrapper bodyPadding">
        <div class="episodeDiv flexBetween ">

            <div class="leftSection flexStart">
                <div class="thumbnail">
                        <img src='http://192.168.0.103:1313/client/views/episodeImages/image3.jpg'>
                    <!-- <div class="playRing flexCenter">
                                    <i class="fas fa-play"></i>
                                </div> -->
                </div>

                <div class="episodeTitleDiv">
                    <span class="episodeTitle">3. ... gotten drunk with the popular kids</span>
                    <br>
                    <span class="greySpan episodeTimingSpan">30m</span>
                </div>

            </div>

            <div class="rightSection">
                <i class="fas fa-download"></i>
            </div>
        </div>

        <div class="episodeDescription">
            <span>Devi hopes to win cool points with Paxton at a party, until a surprising turn of events happens. Hidden emotions
                emerge for Fabiola. Kamala makes a choice.</span>
        </div>
    </div>


    <div class="episodeDivWrapper bodyPadding">
        <div class="episodeDiv flexBetween ">

            <div class="leftSection flexStart">
                <div class="thumbnail">
                        <img src='http://192.168.0.103:1313/client/views/episodeImages/image4.jpg'>
                    <!-- <div class="playRing flexCenter">
                                        <i class="fas fa-play"></i>
                                    </div> -->
                </div>

                <div class="episodeTitleDiv">
                    <span class="episodeTitle">4. ... felt super Indian</span>
                    <br>
                    <span class="greySpan episodeTimingSpan">22m</span>
                </div>

            </div>

            <div class="rightSection">
                <i class="fas fa-download"></i>
            </div>
        </div>

        <div class="episodeDescription">
            <span>At Ganesh Puja celebrations, Devi questions how much she identifies with Indian culture, Nalini dodges acerbic
                aunties and Kamala frets over her future.</span>
        </div>
    </div>


    <div class="episodeDivWrapper bodyPadding">
        <div class="episodeDiv flexBetween ">

            <div class="leftSection flexStart">
                <div class="thumbnail">
                        <img src='http://192.168.0.103:1313/client/views/episodeImages/image5.jpg'>
                    <!-- <div class="playRing flexCenter">
                                            <i class="fas fa-play"></i>
                                        </div> -->
                </div>

                <div class="episodeTitleDiv">
                    <span class="episodeTitle">5. ... started a nuclear war</span>
                    <br>
                    <span class="greySpan episodeTimingSpan">29m</span>
                </div>

            </div>

            <div class="rightSection">
                <i class="fas fa-download"></i>
            </div>
        </div>

        <div class="episodeDescription">
            <span>Devi allows rumors about her and Paxton to swirl during an overnight school trip. Fabiola opens up to Eleanor,
                who gets upsetting news about her mother.</span>
        </div>
    </div>




</div>


<style>
    #showDetailsDiv {
        margin-bottom: 100px;
    }


    .thumbnail {
        position: relative;
        z-index: 1;
        width: 33vw;

        display: flex;
        align-items: center;
        margin-top: 15px;
    }

    .thumbnail img {
        /* background-image: url("https://occ-0-64-58.1.nflxso.net/dnm/api/v6/9pS1daC2n6UGc3dUogvWIPMR_OU/AAAABQuGxQnVSvPJTZ55DNdDTrcwRaZT95k2DwuNje9YdAYyFepO_W1WpKy029nvX6cfi1dhm8jStJpy_XnKbFyDzgER_70YHNs0m0cabOok42atdsI4.webp?r=463"); */
        /* width:250px;
    height:140px; */
        width: 33vw;
        z-index: 2;
        /* position: absolute; */
    }


    /* .playRing{
    border:1px solid white;
    border-radius:100%;
    height:30px;
    width:30px;
    z-index:5;
    position: relative;
    top:0px;
    left:45px;
} */

    .playRing i {
        font-size: 12px;
        color: white;
    }


    .episodeTitleDiv {
        /* background-color: aqua; */
        margin-left: 10px;

    }

    .episodeTitle {
        color: white;
        line-height: 20px;
    }



    .rightSection {
        color: white;
        margin-right: 10px;
        font-size: 20px;
    }

    .episodeTimingSpan {
        font-size: 14px;
    }

    .episodeDescription {
        margin-top: 10px;
    }

    .episodeDescription span {
        color: #979797;
        font-size: 15px;
    }
</style>

