
<!--
<div class="backButtonWrapper" onclick='home()'>
    <div class="backButton">
        <i class="fas fa-times"></i>
    </div>
</div>

<div class="headerDetailsWrapper">

    <div class="showDetails flexColumn">
        <img src='https://occ-0-64-58.1.nflxso.net/dnm/api/v6/X194eJsgWBDE2aQbaNdmCXGUP-Y/AAAABS5KksxMnJrkw_dcJypT_UhPFzelf3xlXykdh8sV_IzEeE7SOJjB4TXhb_-nhmW4vql4p2jDa--NZk__UGCtl4aol1Aa-7jp2XC8SaRqS7mkmZPNsrm0O7G0av8b.jpg?r=4d2'>

        <div class="ratings flexBetween">
            <span class="matchSpan">97% match</span>
            <span class="greySpan">2020</span>
            <div class="ageRating">
                <span>M18</span>
            </div>
            <span class="greySpan">1 Season</span>
            <div class="HD">
                <span>HD</span>
            </div>

        </div>

        <span class="watchSpan">Watch Season 1 now</span>

        <div class="playButton flexCenter">
            <i class="fas fa-play"></i>
            <span>Play</span>
        </div>

        <span class="synopsis">After a traumatic year, an Indian-American teen just wants to spruce up her social status - but friends, family and
            feelings won't make it easy on her.</span>

    </div>

    <div class="cast">
        <span class="greySpan">Cast: Maitreyi Ramakrishnan, Poorna Jagannathan, Richa Moorjani</span>
        <br>
        <span class="greySpan">Creators: Mindy Kaling, Lang Fisher</span>
    </div>

    <div class="iconsDiv flexStart">
        <div class="movieOption flexColumn">
            <i class="fas fa-plus"></i>
            <span>My List</span>
        </div>
        <div class="movieOption flexColumn">
            <i class="far fa-thumbs-up"></i>
            <span>Rate</span>
        </div>
        <div class="movieOption flexColumn">
            <i class="fab fa-telegram-plane"></i>
            <span>Share</span>
        </div>
    </div>

    <div class="showNavBar flexBetween">
        <div class="activeShowTab" id='episodesDiv' onclick="loadEpisodesPartial()">
            <span>EPISODES</span>
        </div>

        <div id='trailersDiv' onclick="loadTrailersPartial()">
            <span>TRAILERS & MORE</span>
        </div>

        <div id='moreDiv' onclick="loadMoreLikeThisPartial()">
            <span>MORE LIKE THIS</span>
        </div>

    </div>

</div>

<div id="showDetailsDiv">
    
</div>


<style>
    .headerDetailsWrapper {
        padding-top: 45px;

    }

    .backButtonWrapper {
        position: fixed;
        right: 15px;
        top: 20px;
        z-index: 99;
    }

    .backButton {
        border-radius: 100%;
        background-color: #2F2F2F;
        height: 30px;
        width: 30px;

        display: flex;
        justify-content: center;
        align-items: center;


    }

    .backButton i {
        color: white;
    }


    .showDetails {
        color: white;
        padding: 0px 15px 10px 15px;
        /* background-image: url('https://occ-0-64-58.1.nflxso.net/dnm/api/v6/X194eJsgWBDE2aQbaNdmCXGUP-Y/AAAABS5KksxMnJrkw_dcJypT_UhPFzelf3xlXykdh8sV_IzEeE7SOJjB4TXhb_-nhmW4vql4p2jDa--NZk__UGCtl4aol1Aa-7jp2XC8SaRqS7mkmZPNsrm0O7G0av8b.jpg?r=4d2');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    -webkit-backdrop-filter: blur(1.5rem); */
    }


    .showDetails img {
        width: 50vw;
    }

    .ratings {
        margin-top: 8px;
        font-size: 13px;
        width: 70vw;
        margin-bottom: 15px;
    }

    .matchSpan {
        color: #8FFF46;
        font-weight: 500;
        margin-right: 15px;
    }

    .greySpan {
        color: #A7A7A7;
        margin-right: 10px;
    }

    .ageRating {
        margin-right: 10px;
        background-color: #5B5B5B;
        padding: 2px 4px;
        border-radius: 2px;
    }

    .ageRating {
        font-size: 10px;
    }

    .HD {
        border: 2px solid #5B5B5B;
        padding: 2px 4px;
        border-radius: 2px;
        font-size: 10px;
    }

    .watchSpan {
        font-weight: 600;
        font-size: 16px;
        margin-bottom: 10px;
    }

    .playButton {
        background-color: red;
        width: 100%;
        padding: 7px 5px;
        border-radius: 4px;
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 10px;
    }

    .playButton i {
        margin-right: 10px;
    }

    .synopsis {
        font-size: 14px;
        font-weight: 500;
    }

    .cast {
        font-size: 12px;
        padding: 0px 15px;
    }

    .iconsDiv {
        padding: 20px 30px;

    }

    .movieOption {
        margin-right: 70px;
    }

    .movieOption i {
        color: white;
        margin-bottom: 10px;
        font-size: 22px;

    }

    .movieOption span {
        color: #A7A7A7;
        font-size: 12px;
    }

    .showNavBar {
        padding: 0px 15px 30px 15px;
    }

    .episodeDivWrapper{
        padding-bottom:15px;
    }

    .bodyPadding {
        padding-left: 15px;
        padding-right: 15px;
    }

    .showNavBar span {
        color: #A7A7A7;
        font-size: 15px;
        font-weight: 500;
    }

    .activeShowTab span {
        color: white;
    }
</style>


<script>
    loadEpisodesPartial();
</script>

-->




<div class="backButtonWrapper" onclick='home()'>
        <div class="backButton">
            <i class="fas fa-times"></i>
        </div>
    </div>
    
    <div class="headerDetailsWrapper">
    
        <div class="showDetails flexColumn">
            <img src='https://occ-0-64-58.1.nflxso.net/dnm/api/v6/X194eJsgWBDE2aQbaNdmCXGUP-Y/AAAABS5KksxMnJrkw_dcJypT_UhPFzelf3xlXykdh8sV_IzEeE7SOJjB4TXhb_-nhmW4vql4p2jDa--NZk__UGCtl4aol1Aa-7jp2XC8SaRqS7mkmZPNsrm0O7G0av8b.jpg?r=4d2'>
    
            <div class="ratings flexBetween">
                <span class="matchSpan">97% match</span>
                <span class="greySpan">2020</span>
                <div class="ageRating">
                    <span>M18</span>
                </div>
                <span class="greySpan">1 Season</span>
                <div class="HD">
                    <span>HD</span>
                </div>
    
            </div>
    
            <span class="watchSpan">Watch Season 1 now</span>
    
            <div class="playButton flexCenter">
                <i class="fas fa-play"></i>
                <span>Play</span>
            </div>
    
            <span class="synopsis">After a traumatic year, an Indian-American teen just wants to spruce up her social status - but friends, family and
                feelings won't make it easy on her.</span>
    
        </div>
    
        <div class="cast">
            <span class="greySpan">Cast: Maitreyi Ramakrishnan, Poorna Jagannathan, Richa Moorjani</span>
            <br>
            <span class="greySpan">Creators: Mindy Kaling, Lang Fisher</span>
        </div>
    
        <div class="iconsDiv flexStart">
            <div class="movieOption flexColumn">
                <i class="fas fa-plus"></i>
                <span>My List</span>
            </div>
            <div class="movieOption flexColumn">
                <i class="far fa-thumbs-up"></i>
                <span>Rate</span>
            </div>
            <div class="movieOption flexColumn">
                <i class="fab fa-telegram-plane"></i>
                <span>Share</span>
            </div>
        </div>
    
        <div class="showNavBar flexBetween">
            <div class="activeShowTab" id='episodesDiv' onclick="loadEpisodesPartial()">
                <span>EPISODES</span>
            </div>
    
            <div id='trailersDiv' onclick="loadTrailersPartial()">
                <span>TRAILERS & MORE</span>
            </div>
    
            <div id='moreDiv' onclick="loadMoreLikeThisPartial()">
                <span>MORE LIKE THIS</span>
            </div>
    
        </div>
    
    </div>
    <!-- spa within details page -->
    <div id="showDetailsDiv">
        
    </div>
    
    
    <style>
        .headerDetailsWrapper {
            padding-top: 45px;
    
        }
    
        .backButtonWrapper {
            position: fixed;
            right: 15px;
            top: 20px;
            z-index: 99;
        }
    
        .backButton {
            border-radius: 100%;
            background-color: #2F2F2F;
            height: 30px;
            width: 30px;
    
            display: flex;
            justify-content: center;
            align-items: center;
    
    
        }
    
        .backButton i {
            color: white;
        }
    
    
        .showDetails {
            color: white;
            padding: 0px 15px 10px 15px;
            /* background-image: url('https://occ-0-64-58.1.nflxso.net/dnm/api/v6/X194eJsgWBDE2aQbaNdmCXGUP-Y/AAAABS5KksxMnJrkw_dcJypT_UhPFzelf3xlXykdh8sV_IzEeE7SOJjB4TXhb_-nhmW4vql4p2jDa--NZk__UGCtl4aol1Aa-7jp2XC8SaRqS7mkmZPNsrm0O7G0av8b.jpg?r=4d2');
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: cover;
                        -webkit-backdrop-filter: blur(1.5rem); */
        }
    
    
        .showDetails img {
            width: 50vw;
        }
    
        .ratings {
            margin-top: 8px;
            font-size: 13px;
            width: 70vw;
            margin-bottom: 15px;
        }
    
        .matchSpan {
            color: #8FFF46;
            font-weight: 500;
            margin-right: 15px;
        }
    
        .greySpan {
            color: #A7A7A7;
            margin-right: 10px;
        }
    
        .ageRating {
            margin-right: 10px;
            background-color: #5B5B5B;
            padding: 2px 4px;
            border-radius: 2px;
        }
    
        .ageRating {
            font-size: 10px;
        }
    
        .HD {
            border: 2px solid #5B5B5B;
            padding: 2px 4px;
            border-radius: 2px;
            font-size: 10px;
        }
    
        .watchSpan {
            font-weight: 600;
            font-size: 16px;
            margin-bottom: 10px;
        }
    
        .playButton {
            background-color: red;
            width: 100%;
            padding: 7px 5px;
            border-radius: 4px;
            font-size: 14px;
            font-weight: 500;
            margin-bottom: 10px;
        }
    
        .playButton i {
            margin-right: 10px;
        }
    
        .synopsis {
            font-size: 14px;
            font-weight: 500;
        }
    
        .cast {
            font-size: 12px;
            padding: 0px 15px;
        }
    
        .iconsDiv {
            padding: 20px 30px;
    
        }
    
        .movieOption {
            margin-right: 70px;
        }
    
        .movieOption i {
            color: white;
            margin-bottom: 10px;
            font-size: 22px;
    
        }
    
        .movieOption span {
            color: #A7A7A7;
            font-size: 12px;
        }
    
        .showNavBar {
            padding: 0px 15px 30px 15px;
        }
    
        .episodeDivWrapper{
            padding-bottom:15px;
        }
    
        .bodyPadding {
            padding-left: 15px;
            padding-right: 15px;
        }
    
        .showNavBar span {
            color: #A7A7A7;
            font-size: 15px;
            font-weight: 500;
        }
    
        .activeShowTab span {
            color: white;
        }
    </style>
    
    
    <script>
        loadEpisodesPartial();
    
        
    </script>