<div class="trailersDiv">
    <div class="trailerDivWrapper bodyPadding flexCenter">
        <div class="trailerDiv ">
                <img src='http://192.168.0.103:1313/client/views/episodeImages/trailerImg.jpg'>

            <span>Season 1 Trailer: Never Have I Ever</span>
        </div>
    </div>


</div>


<style>
    .trailerDiv {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .trailerDiv img {
        margin-bottom: 10px;
    }

    .trailerDiv span {
        color: white;
    }
</style>